#----DO NOT CHANGE LINES BELOW----------
import subprocess
import os
import git 

IMAGE_NAME = "_IMAGE_NAME"
DOCKERFILE_DIR = "_DOCKERFILE_DIR"

script_dir = os.path.join(git.Repo('.', search_parent_directories=True).working_tree_dir, 'scripts')
os.chdir(script_dir)
subprocess.call(['python3', 'build-docker-image.py', '-n', IMAGE_NAME, '-d', DOCKERFILE_DIR])
#---------------------------------------